.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/node_modules/**
**/.github/**
**/test/**
**/.nyc_output/**
**/coverage/**
**/*.vsix
**/scripts/**
.prettierrc.json
.prettierignore
renovate.json