.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/.prettierrc.json
**/.prettierignore
webpack.config.js
node_modules/**
docs/**
create-github-issues.sh
.github/**
**/.DS_Store
**/*.vsix